<div class="about">
    <div class="about__inner">
        <p class="about__accent">
            Конференция
        </p>
        <div class="about__titles">
            <p class="about__titles--date" data-aos="fade-right">12 ноября</p>
            <p class="about__titles--title" data-aos="fade-left">This Year</p>
            <p class="about__titles--title" data-aos="fade-right">Next Year</p>
            <div class="about__partners">
                <img src="/img/groupt.png" alt="">
                <img src="/img/mindshare.png" alt="">
                <img src="/img/mediacom.png" alt="">
                <img src="/img/wm.png" alt="">
            </div>
            <button class="about__registr" data-aos="fade-down">Зарегистрироваться</button>
        </div>
        <div class="about__texts" data-aos="fade-up">
            <p class="about__texts--p2">Команда рекламного холдинга GroupM рада
                открыть для вас двери digital-конференции NextM!</p>
            <p class="about__texts--p3">NextM – это ежегодная digital-конференция,
                организованная ведущей международной рекламной группой GroupM, входящей в состав коммуникационного
                холдинга WPP и представленной в России агентствами Mindshare, MediaCom и Wavemaker.</p>
        </div>


        <img src="/img/about__bg.png" alt="" class="about__bg" data-aos="fade-right">
    </div>
    <a href="#" class="about__arrow">
        <svg width="87" height="31" viewBox="0 0 87 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.999999 0.999999L43.5 29L86 0.999995" stroke="white" stroke-width="2" />
        </svg>
    </a>
</div>