<div class="form">
    <p class="form__title" data-aos="fade-right" >Отправить сообщение</p>
    <form id="form1" class="form__inner" onsubmit="formValidation()">
        <input name="name"  class="form__inner--name" data-aos="fade-left"placeholder="Ваше имя">
        <input name="email"  class="form__inner--email"data-aos="fade-right" placeholder="Email">
        <input name="text"  class="form__inner--text" data-aos="fade-left"placeholder="Ваше сообщение">
        <div class="form__inner--btn" data-aos="fade-right">
        <button type="submit" >Отправить</button> 
        </div>
    </form>
</div>