<header class="header">
    <div class="header__logo">
        TYNY 2019
    </div>
    <div class="header__vertical-line"></div>
    <a href="#" class="header__link">Конференция</a>
    <a href="#" class="header__link">Программа</a>
    <a href="#" class="header__link">Спикеры</a>
    <a href="#" class="header__link">Фото</a>
    <a href="#" class="header__link">Материалы</a>
    <div class="header__btn-outline">Регистрация</div>
    <div class="header__rectangle"></div>
    <a href="#" class="header__facebook">f</a>
</header>