<div class="speakers">
    <p class="speakers__title">Спикеры</p>
    <div class="speakers__wrapper">
        <div class="speakers__arrows">
            <div class="swiper-button-prev">
                <svg width="31" height="87" viewBox="0 0 31 87" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29.9275 1L2 43.5L29.9275 86" stroke="#0A2756" stroke-width="2" />
                </svg>
            </div>
            <div class="swiper-button-next">
                <svg width="31" height="87" viewBox="0 0 31 87" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.50259 86L29.4301 43.5L1.5026 1" stroke="#0A2756" stroke-width="2" />
                </svg>
            </div>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="speakers__speaker">
                        <img src="/img/speaker.png" alt="">
                        <div class="speakers__speaker--desc">
                            <p class="speakers__speaker--name">Ярон Фаризон</p>
                            <p class="speakers__speaker--prof">СЕО MediaCom</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="speakers__speaker">
                        <img src="/img/speaker.png" alt="">
                        <div class="speakers__speaker--desc">
                            <p class="speakers__speaker--name">Ярон Фаризон</p>
                            <p class="speakers__speaker--prof">СЕО MediaCom</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="speakers__speaker">
                        <img src="/img/speaker.png" alt="">
                        <div class="speakers__speaker--desc">
                            <p class="speakers__speaker--name">Ярон Фаризон</p>
                            <p class="speakers__speaker--prof">СЕО MediaCom</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="speakers__speaker">
                        <img src="/img/speaker.png" alt="">
                        <div class="speakers__speaker--desc">
                            <p class="speakers__speaker--name">Ярон Фаризон</p>
                            <p class="speakers__speaker--prof">СЕО MediaCom</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="speakers__speaker">
                        <img src="/img/speaker.png" alt="">
                        <div class="speakers__speaker--desc">
                            <p class="speakers__speaker--name">Ярон Фаризон</p>
                            <p class="speakers__speaker--prof">СЕО MediaCom</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="speakers__speaker">
                        <img src="/img/speaker.png" alt="">
                        <div class="speakers__speaker--desc">
                            <p class="speakers__speaker--name">Ярон Фаризон</p>
                            <p class="speakers__speaker--prof">СЕО MediaCom</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="speakers__speaker">
                        <img src="/img/speaker.png" alt="">
                        <div class="speakers__speaker--desc">
                            <p class="speakers__speaker--name">Ярон Фаризон</p>
                            <p class="speakers__speaker--prof">СЕО MediaCom</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="speakers__speaker">
                        <img src="/img/speaker.png" alt="">
                        <div class="speakers__speaker--desc">
                            <p class="speakers__speaker--name">Ярон Фаризон</p>
                            <p class="speakers__speaker--prof">СЕО MediaCom</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="speakers__speaker">
                        <img src="/img/speaker.png" alt="">
                        <div class="speakers__speaker--desc">
                            <p class="speakers__speaker--name">Ярон Фаризон</p>
                            <p class="speakers__speaker--prof">СЕО MediaCom</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            
    </div>
    

    </div>

</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>