@import "base/*.scss";
@import "global/*.scss";
@import "**/_*.scss";
@import "../components/**/*.scss";
$primary-color: #0a2756;
$additional-color: #007dfe;
$accent-color: #ffb32c;
$transition: 0.2s;

$ipad-size: 768px;
$mobile-size: 460px;
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1240px;
    width: 100%;
    margin: auto;
}

a,
button {
    transition: $transition;
}
.header {
    display: flex;
    align-items: center;
    padding: 16px 50px 12px 50px;
    @media (max-width: $ipad-size) {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__logo {
        color: $primary-color;
        text-transform: uppercase;
        margin-right: 24px;
        font-size: 29px;
    }
    &__vertical-line {
        background-color: #c4c4c4;
        width: 1px;
        margin-right: 24px;
        align-self: normal;
        @media (max-width: $ipad-size) {
            display: none;
        }
    }
    &.opened {
        height: 100vh;
        align-items: flex-start;
        & .header {
            &__links {
                @media (max-width: $ipad-size) {
                    display: flex;
                    order: 10;
                    flex-direction: column;
                    width: 100%;
                    align-items: center;
                    order: 2;
                    & a {
                        font-size: 22px;
                        padding-bottom: 15px;
                        margin-right: 0;
                    }
                }
            }
            &__menu--hide {
                display: none;
            }
            &__menu--opend {
                display: block;
            }
            &__btn-outline {
                order: 3;
                display: flex;
                margin: auto;
            }
            &__icons {
                width: 100%;
                display: flex;
                order: 4;
                justify-content: center;
            }
        }
    }

    &__links {
        @media (max-width: $ipad-size) {
            display: none;
        }
        & a {
            color: $primary-color;
            text-decoration: none;
            margin-right: 24px;
            font-size: 16px;
            &:hover {
                color: $additional-color;
            }
        }
    }

    &__btn-outline {
        padding: 8px 30px;
        border: 1px solid $additional-color;
        color: $additional-color;
        margin-right: 129px;
        font-size: 16px;
        &:hover {
            color: white;
            border-color: $primary-color;
            background: $primary-color;
            cursor: pointer;
        }
        @media (max-width: $ipad-size) {
            display: none;
        }
    }
    &__icons {
        display: flex;
        align-items: center;
        @media (max-width: $ipad-size) {
            display: none;
        }
    }
    &__rectangle {
        margin-right: 15px;
        &:hover path,
        &:hover rect {
            fill: $additional-color;
            cursor: pointer;
        }
    }
    &__facebook {
        text-transform: uppercase;
        text-decoration: none;
        transition: $transition;
        &:hover path {
            fill: $additional-color;
            cursor: pointer;
        }
    }
    &__menu {
        display: none;
        transition: $transition;
        & svg {
            fill: $primary-color;
            &:hover path,
            &:hover line {
                fill: $additional-color;
                stroke: $additional-color;
            }
        }
        &:hover svg {
            fill: $additional-color;
            cursor: pointer;
        }
        @media (max-width: $ipad-size) {
            display: flex;
        }

        &--opend {
            display: none;
        }
    }
}

.about {
    background: $primary-color;
    display: flex;
    flex-wrap: wrap;
    padding-top: 69px;
    width: 100%;
    @media (max-width: $ipad-size) {
        padding-top: 53px;
    }
    @media (max-width: $mobile-size) {
        padding-top: 60px;
    }
    &__inner {
        padding-left: 161px;
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: column;
        @media (max-width: $ipad-size) {
            padding-left: 28px;
        }
        @media (max-width: $mobile-size) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    &__accent {
        color: $accent-color;
        transform: rotate(-90deg);
        position: absolute;
        font-size: 51px;
        top: 130px;
        left: 89px;
        @media (max-width: $ipad-size) {
            left: -51px;
            font-size: 31px;
            top: 103px;
        }
        @media (max-width: $mobile-size) {
            font-size: 23px;
            top: 50px;
        }
    }
    &__titles {
        display: flex;
        flex-direction: column;
        padding-left: 119px;
        @media (max-width: $ipad-size) {
            padding-left: 42px;
        }
        @media (max-width: $mobile-size) {
            padding-left: 0;
        }
        &--date {
            color: white;
            font-size: 60px;
            @media (max-width: $ipad-size) {
                font-size: 52px;
            }
            @media (max-width: $mobile-size) {
                font-size: 37px;
                padding-left: 28px;
            }
        }
        &--title {
            font-weight: bold;
            color: white;
            font-size: 110px;
            line-height: 0.8;
            @media (max-width: $ipad-size) {
                font-size: 83px;
                padding-bottom: 12px;
            }
            @media (max-width: $mobile-size) {
                font-size: 55px;
                padding-bottom: 0;
                padding-left: 28px;
            }
        }
    }
    &__partners {
        display: flex;
        margin-top: 25px;
        @media (max-width: $ipad-size) {
            max-width: 329px;
            margin-top: 13px;
        }
        @media (max-width: $mobile-size) {
            max-width: 100%;
            margin-top: 10px;
        }
        & img {
            object-fit: contain;
            margin-right: 35px;
            @media (max-width: $ipad-size) {
                margin-right: 30px;
                width: calc(25% - 30px);
            }
        }
    }
    &__registr {
        background: $additional-color;
        color: white;
        text-transform: uppercase;
        letter-spacing: calc(14px * 0.67);
        padding: 26px 13px;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        border: none;
        margin-top: 91px;
        transition: $transition;
        margin-bottom: 48px;
        max-width: 432px;
        &:hover {
            background: $accent-color;
            color: $primary-color;
        }
        @media (max-width: $ipad-size) {
            margin-top: 73px;
        }
        @media (max-width: $mobile-size) {
            width: 100%;
            max-width: 100%;
            letter-spacing: calc(14px * 0.3);
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__texts {
        display: flex;
        flex-direction: column;
        max-width: 521px;
        padding-left: 119px;
        @media (max-width: $ipad-size) {
            padding-left: 42px;
        }
        @media (max-width: $mobile-size) {
            order: 4;
            padding-left: 0;
            max-width: 100%;
            width: 100%;
        }
        &--p2 {
            color: white;
            font-size: 20px;
            line-height: 130%;
            padding-bottom: 41px;
        }
        &--p3 {
            color: white;
            font-size: 18px;
            line-height: 140%;
            padding-bottom: 48px;
            @media (max-width: $ipad-size) {
                padding-bottom: 73px;
            }
            @media (max-width: $mobile-size) {
                padding-bottom: 130px;
            }
        }
    }
    &__bg {
        position: absolute;
        right: 38px;
        top: 32px;
        width: 379px;
        @media (max-width: $ipad-size) {
            width: 244px;
            top: 0px;
            right: 37px;
        }
        @media (max-width: $mobile-size) {
            position: relative;
            left: 0;
            top: 0;
            width: 237px;
            right: 0;
            display: flex;
            align-self: center;
            order: 3;
            padding-bottom: 48px;
        }
    }
    &__arrow {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 89px;
        @media (max-width: $ipad-size) {
            padding-bottom: 37px;
        }
        @media (max-width: $mobile-size) {
            display: none;
        }
    }
}
.speakers {
    max-width: 100%;
    padding: 80px 127px;
    @media (max-width: $ipad-size) {
        padding: 28px 70px;
    }
    @media (max-width: $mobile-size) {
        padding: 20px;
    }

    &__title {
        color: $primary-color;
        font-size: 60px;
        font-weight: light;
        padding-bottom: 49px;
    }
    &__speaker {
        position: relative;
        & img {
            object-fit: contain;
            display: flex;
            width: 100%;
        }
        &--desc {
            position: absolute;
            background: hsla(210, 100%, 50%, 0.7);
            width: 100%;
            height: 111px;
            bottom: 0;
            padding: 25px 30px;
            @media (max-width: $ipad-size) {
                padding: 10px 23px;
                height: 85px;
            }
            @media (max-width: $mobile-size) {
                height: 80px;
                padding: 20px;
            }
        }
        &--name {
            font-weight: bold;
        }
        &--name,
        &--prof {
            color: white;
            padding-bottom: 20px;
            @media (max-width: $mobile-size) {
                padding-bottom: 10px;
            }
        }
    }
    &__wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__arrows {
        width: calc(100% + 150px);
        position: absolute;
        @media (max-width: $ipad-size) {
            display: none;
        }
    }
    & .swiper-wrapper {
        width: 798px;
        @media (max-width: $ipad-size) {
            width: 828px;
        }
    }
    & .swiper-pagination {
        padding-top: 50px;
        position: relative;
        & .swiper-pagination-bullet {
            background: #e4e4e4;
            opacity: 1;
            &-active {
                background: $primary-color;
            }
        }
    }
    & .swiper-button-next,
    & .swiper-button-prev {
        height: 85px;
        top: calc(50% - 42.5px);
    }
    & .swiper-button-next::after,
    & .swiper-button-prev::after {
        content: "";
    }
}
